<!DOCTYPE html>
<html lang="en" >
<head>
  <meta charset="UTF-8">
  <title>Login</title>
  <link rel="stylesheet" href="{{ url_for('static',filename='css/style.css') }}">
</head>

<body>

{% for message in get_flashed_messages() %}
    <div class="alert alert-warning">
    {{ message }}
    </div>

{% endfor %}

    <body>
    <br>
    <br>
    <br>
    <br>
    <br>
    <br>
    <div class="container">
        <section id="content">
            <form action="" method="post">
                <h1>用户登陆</h1>
                <div>
                    <input type="text" placeholder="Email" name="Username" required="" id="username" />
                </div>
                <div>
                    <input type="password" placeholder="Password" name="Password" required="" id="password" />
                </div>
                <div>
                    <input type="submit" value="登陆" />
                    <a href="#">忘记密码？</a>
                    <a href="{{ url_for('auth.register') }}">注册</a>
                </div>
            </form><!-- form -->
    {#		<div class="button">#}
    {#			<a href="#">Download source file</a>#}
    {#		</div><!-- button -->#}
        </section><!-- content -->
    </div><!-- container -->
    </body>
    <script  src="{{ url_for('static',filename='js/index.js') }}"></script>
</body>
</html>
