﻿<!DOCTYPE html>
<html lang="en">
  <head>
        <meta charset="utf-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>登录</title>
        <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
        <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
        <script src="/static/scripts/modernizr-2.6.2.js"></script>
        <style>
            body{
                margin-left: auto;
                margin-right: auto;
                margin-top: 100px;
                width: 20em;
            }
            .header{
                text-align: center;
            }
        </style>
  </head>

  <body>
      <div>
           <form action="" method="post">
            <h2 class="header">DataShow</h2>
            <label for="inputEmail" class="sr-only">Email address</label>
            <input type="email" name="Username" id="username" class="form-control" placeholder="Email address" required autofocus>
            <br>
            <label for="inputPassword" class="sr-only">Password</label>
            <input type="password" id="password" name="Password" class="form-control" placeholder="Password" required>
            <div class="checkbox">
                <label>
                <input type="checkbox" name="Rememberme" value="True" > 记住我
                </label>
                &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;
                <a href="{{url_for('auth.register')}}">注册新用户</a>
            </div>
            <button class="btn btn-lg btn-primary btn-block" value="登录" type="submit">登录</button>
          </form>
      </div>
  </body>
</html>
