﻿<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>注册</title>
    <link rel="stylesheet" type="text/css" href="/static/content/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="/static/content/site.css" />
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <style>
        .bodyconetent{
            margin-left: auto;
            margin-right: auto;
            margin-top: 100px;
            width: 20em;
        }
        .header{
            text-align: center;
        }
    </style>
</head>

<body>
    <div>
        {% for message in get_flashed_messages() %}
        <div class="alert alert-warning">
            <button type="button" class="close" data-dismiss="alert">&times;</button>
            {{ message }}
        </div>
        {% endfor %}
        <div class="bodyconetent">
            <form action="" method="post">
                <h2 class="header">DataShow</h2>
                <label class="sr-only">Email address</label>
                <input type="email" name="Email" class="form-control" placeholder="Email Address" required autofocus>
                <br>
                <label class="sr-only">UserName</label>
                <input type="text" name="UserName" class="form-control" placeholder="UserName" required autofocus>
                <br />
                <label class="sr-only">PassWord</label>
                <input type="password" name="PassWord" class="form-control" placeholder="PassWord" required autofocus>
                <br />
                <label class="sr-only">ConfirmPassword</label>
                <input type="password" name="ConfirmPassword" class="form-control" placeholder="ConfirmPassword" required autofocus>
                <br />
                <button class="btn btn-lg btn-primary btn-block" value="注册" type="submit">注册</button>
            </form>
        </div>
    </div>
</body>
</html>
