{% extends 'base.html' %}

{% block title %}{% endblock %}

{% block head %}
    {{ super() }}
    <link href="{{ url_for('static',filename='css/dashboard.css') }}" rel="stylesheet">
{% endblock %}

{% block content %}
    <div class="charthead"></div>

    <div class="container">
        <div class="row">
            <div class="col-sm-3 col-md-2">
                <ul class="nav nav-sidebar">
                    <li><a href="{{ url_for('serverinfo.Usermanage') }}">用户管理</a></li>
                    <li><a href="{{ url_for('serverinfo.BgManage') }}">服务器管理 </a></li>
                    <li><a href="{{ url_for('serverinfo.Crawlermanage') }}">爬虫管理</a></li>
                </ul>
            </div>
            <div class="col-sm-9 col-md-10 ">
                {% block servermanage %}{% endblock %}
            </div>
            <div class="col-sm-9 col-md-10 ">
                {% block usermanage %}{% endblock %}
            </div>
            <div class="col-sm-9 col-md-10 ">
                {% block crawlermanage %}{% endblock %}
            </div>
        </div>
    </div>
{% endblock %}