{% extends 'manage/background.html' %}

{% block title %}爬虫管理{% endblock %}

{% block crawlermanage %}
<h3 class="sub-header">爬虫管理</h3>
    <form method="POST" class="form form-horizontal">
        <input class="btn btn-default" name="submit" type="submit" value="更新数据">
    </form>
{% endblock %}
