{% extends 'manage/background.html' %}

{% block title %}服务器管理{% endblock %}

{% block head %}
    {{ super() }}
    <script type="text/javascript" src="//cdn.bootcss.com/jquery/3.1.1/jquery.min.js"></script>
    <script type="text/javascript" src="//cdn.bootcss.com/socket.io/1.5.1/socket.io.min.js"></script>
    <!-- ECharts 3 引入 -->
    <script src="{{ url_for('static',filename='js/echarts.js') }}"></script>
    <script src="{{ url_for('static',filename='js/echart-dark.js') }}"></script>
{% endblock %}

{% block servermanage %}
    <h3 class="sub-header">服务器管理</h3>
    <div id="container" style="height:300px;padding:10px;"></div>
    <div id="container1" style="height:300px;padding:10px;"></div>
    <script type="text/javascript">
    var myChart = echarts.init(document.getElementById('container'),'dark');
    var myChart1 = echarts.init(document.getElementById('container1'),'dark');
    myChart.setOption({
        title: {
            text: '服务器CPU使用率(%)'
        },
        tooltip: {},
        legend: {
            data:['cpu1','cpu2','cpu3','cpu4']
        },
        xAxis: {
            data: []
        },
        yAxis: {},
        series: [{
            name: 'cpu1',
            type: 'line',
            data: []
        },{
            name: 'cpu2',
            type: 'line',
            data: []
        },{
            name: 'cpu3',
            type: 'line',
            data: []
        },{
            name: 'cpu4',
            type: 'line',
            data: []
        }]
    });

    myChart1.setOption({
        title: {
            text: '服务器内存使用率(%)'
        },
        tooltip: {},
        legend: {
            data:['memory']
        },
        xAxis: {
            data: []
        },
        yAxis: {},
        series: [{
            name: 'memory',
            type: 'line',
            data: []
        }]
    });

    var time = ["","","","","","","","","",""],
        cpu1 = [0,0,0,0,0,0,0,0,0,0],
        cpu2 = [0,0,0,0,0,0,0,0,0,0],
        cpu3 = [0,0,0,0,0,0,0,0,0,0],
        cpu4 = [0,0,0,0,0,0,0,0,0,0],
        memory = [0,0,0,0,0,0,0,0,0,0]


    //准备好统一的 callback 函数
    var update_mychart = function (res) { //res是json格式的response对象

        // 隐藏加载动画
        myChart.hideLoading();
        myChart1.hideLoading();
        // 准备数据
        time.push(res.data[0]);
        cpu1.push(parseFloat(res.data[1]));
        cpu2.push(parseFloat(res.data[2]));
        cpu3.push(parseFloat(res.data[3]));
        cpu4.push(parseFloat(res.data[4]));
        memory.push(parseFloat(res.data[5]));
        if (time.length >= {{ timesize }}){
            time.shift();
            cpu1.shift();
            cpu2.shift();
            cpu3.shift();
            cpu4.shift();
            memory.shift();
        }

        // 填入数据
        myChart.setOption({
            xAxis: {
                data: time
            },
            series: [{
                name: 'cpu1', // 根据名字对应到相应的系列
                data: cpu1
            },{
                name: 'cpu2',
                data: cpu2
            },{
                name: 'cpu3',
                data: cpu3
            },{
                name: 'cpu4',
                data: cpu4
            }]
        });

        myChart1.setOption({
            xAxis: {
                data: time
            },
            series: [{
                name: 'memory', // 根据名字对应到相应的系列
                data: memory
            }]
        });
    };

    // 首次显示加载动画
    myChart.showLoading();
    myChart1.showLoading();

    // 建立socket连接，等待服务器“推送”数据，用回调函数更新图表
    $(document).ready(function() {
        namespace = '/test';
        var socket = io.connect(location.protocol + '//' + document.domain + ':' + location.port + namespace);

        socket.on('server_response', function(res) {
            update_mychart(res);
        });

    });

    </script>
{% endblock %}
