{% extends 'manage/background.html' %}

{% block title %}用户管理{% endblock %}

{% block usermanage %}
     <h3 class="sub-header">用户管理</h3>
     <div class="table-responsive">
        <table class="table table-striped">
            <thead>
                <tr>
                    <th>序号</th>
                    <th>用户名</th>
                    <th>邮箱地址</th>
                    <th>角色</th>
                </tr>
            </thead>
            {% for user in users %}
                <tr>
                    <td>{{ user.id }}</td>
                    <td>{{ user.username }}</td>
                    <td>{{ user.email }}</td>
                    <td>未知</td>
                </tr>
            {% endfor %}
        </table>
    </div>

{#    {% for user in users %}#}
{#        <h1>{{ user.email }}</h1> <h2>{{ user.username }}</h2> <h3>{{ user.role_id }}</h3>#}
{#    {% endfor %}#}
{% endblock %}
