﻿{% extends "base.html" %}

{% block title %}关于{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/logo.ico') }}">
{% endblock %}

{% block content %}
    <div class="charthead"></div>
    <div class="container">
        <h3>关于网站</h3>
        <p>爬虫数据分享系统，针对不同领域数据的抓取，包括房产数据、电商数据、金融数据以及其他应用数据。并对其进行数据的处理分析呈现。</p>
        <p>本网站数据原作者如不愿意在本网站刊登内容,请及时通知本站,予以删除！</p>
    </div>
{% endblock %}
