﻿<!DOCTYPE html>
<html>
<head>
{% block head %}
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %}{% endblock %}</title>
    <script src="/static/scripts/modernizr-2.6.2.js"></script>
    <link rel="stylesheet" href="{{ url_for('static',filename='content/bootstrap-select.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='content/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static',filename='content/site.css') }}">
    <style type="text/css">
        html {
            height: 100%;
        }

        body {
            min-height: 100%;
            margin: 0;
            padding: 0;
            position: relative;
        }

        .wrap {
            padding-bottom: 100px;
        }

        .footer {
            position: absolute;
            bottom: 0;
            width: 100%;
            height: 40px;
            line-height: 30px;
            text-align: center;
            background-color: #0F0F0F;
        }

        .charthead {
            padding: 30px;
            margin-bottom: 30px;
            font-size: 21px;
            font-weight: 200;
            line-height: 0;
            color: inherit;
        }
    </style>
{% endblock %}
</head>

<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse">
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a href="/" class="navbar-brand">DataShow</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
                <!--<form class="navbar-form navbar-right">
                    <button type="submit" class="btn btn-success">登录</button>
                </form>-->
                <ul class="nav navbar-nav navbar-right">
                    <li>
                        {% if current_user.is_authenticated %}
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <img src="">
                            {{ current_user.username }} <b class="caret"></b>
                        </a>

                        <ul class="dropdown-menu">
                            <li><a href="{{ url_for('serverinfo.Usermanage') }} " target="_Blank">后台管理</a></li>
                            <li><a href="{{ url_for('auth.logout') }}">注销</a></li>
                        </ul>
                        {% else %}
                        <a href="{{ url_for('auth.login') }}">登录</a>
                        {% endif %}
                    </li>
                    <li>
                        {% if not current_user.is_authenticated %}
                            <a href="{{url_for('auth.register')}}">注册</a>
                        {% endif %}
                    </li>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('main.home') }}">首页</a></li>
                    <li><a href="{{ url_for('main.about') }}">关于</a></li>
                    <li><a href="{{ url_for('main.contact') }}">联系</a></li>
                </ul>

            </div>
        </div>
    </div>

    <div class="wrap">
        {% block content %}{% endblock %}
    </div>
    <div class="footer">
        <p>Copyright &copy; 2017 - {{ year }}  DataShow . 粤ICP备18013202号-1</p>
    </div>

    <script src="/static/scripts/jquery-1.10.2.js"></script>
    <script src="/static/scripts/bootstrap.js"></script>
    <script src="/static/scripts/respond.js"></script>
    {% block scripts %}{% endblock %}

</body>
</html>
