﻿{% extends "base.html" %}

{% block title %}联系{% endblock %}

{% block head %}
    {{ super() }}
    <link rel="shortcut icon" href="{{ url_for('static',filename='img/logo.ico') }}">
{% endblock %}

{% block content %}
<div class="container">
    <div class="charthead"></div>
    <h3>联系我</h3>
    <address>
        <strong>QQ：</strong>2540669209 <br />
        <strong>Email：</strong>Glf9832@163.com<br />
        <strong>Github：</strong><a href="https://github.com/Glf9832/DataShow" target="_Blank">https://github.com/Glf9832/DataShow</a><br />
    </address>
</div>
{% endblock %}
