{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}

{% block title %}房地产数据{% endblock %}

{% block head %}
    {{ super() }}
    <script src="{{ url_for('static',filename='js/highcharts.src.js') }}"></script>
    <script src="{{ url_for('static',filename='js/dark-unica.js') }}"></script>
{% endblock %}

{% block content %}
    <div class="charthead"></div>
    <div class="container">
        <h3>房地产数据</h3>
        <br />
        <div class="row" id="container3"></div>

        <form action="#add" method="POST" class="form form-horizontal">
            <div class="form-group">
                <hr>
                <div style="float:right;width: 360px">
                    <div style="float: left;width: 70px">
                        <label class="control-label" for="selectcols">选择时间：</label>
                    </div>
                    <div style="float: left;width: 200px">
                        <select class="form-control" id="selectcols" name="selectcols">
                            {% for i in choices %}
                            <option value="{{ loop.index }}"> {{ i }}</option>
                            {% endfor %}
                        </select>
                    </div>
                    <div style="float: right;width: 80px">
                        <a >
                            <input class="btn btn-default" name="submit" type="submit" value="确定">
                        </a>
                    </div>
                </div>
            </div>
        </form>
        <a name="add"></a>
        <div class="row">
            <div class="col-md-4">
                <div class="row" id="container"></div>
            </div>
            <div class="col-md-4">
                <div class="row" id="container1"></div>
            </div>

            <div class="col-md-4">
                <div class="row" id="container2"></div>
            </div>
        </div>
        <script>
            var options = {
                chart:{
                    type:'column'
                },
                title:{
                    text:'{{ collection }}各地平均房价'
                },
                subtitle:{
                    text:'数据来源：http://www.fang.com/'
                },
                xAxis:{
                    categories: {{ areas|tojson }},
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '价格(元/平米)'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">均价：</td>' +
                    '<td style="padding:0"><b>{point.y:.1f} 元</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        borderWidth: 0
                    }
                },
                series: [{
                name: '城市',
                data: {{ areasmeans }}
                }]
            };
            var chart = Highcharts.chart('container', options);

            var options1 = {
                chart:{
                    type:'column'
                },
                title:{
                    text:'{{ collection }}各地最低与最高房价对比'
                },
                subtitle:{
                    text:'数据来源：http://www.fang.com/'
                },
                xAxis:{
                    categories: {{ areas|tojson }},
                    crosshair: true
                },
                yAxis: {
                    min: 0,
                    title: {
                        text: '价格(元/平米)'
                    }
                },
                tooltip: {
                    headerFormat: '<span style="font-size:10px">{point.key}</span><table>',
                    pointFormat: '<tr><td style="color:{series.color};padding:0">{series.name}:</td>' +
                    '<td style="padding:0"><b>{point.y:.1f} 元</b></td></tr>',
                    footerFormat: '</table>',
                    shared: true,
                    useHTML: true
                },
                plotOptions: {
                    column: {
                        borderWidth: 0
                    }
                },
                series: [{
                    name: '最低价',
                    data: {{ areasmins }}
                    },{
                    name: '最高价',
                    data: {{ areasmaxs }}
                }]
            };
            var chart1 = Highcharts.chart('container1',options1);

            var options2 = {
                chart: {
                plotBackgroundColor: null,
                plotBorderWidth: null,
                plotShadow: false
                },
                title: {
                    text: '{{ collection }}各地楼盘统计个数'
                },
                tooltip: {
                    headerFormat: '{series.name}<br>',
                    pointFormat: '{point.name}: <b>{point.percentage:.1f}%</b>'
                },
                plotOptions: {
                    pie: {
                        allowPointSelect: true,
                        cursor: 'pointer',
                        dataLabels: {
                            enabled: true,
                            format: '<b>{point.name}</b>: {point.percentage:.1f} %',
                            style: {
                                color: (Highcharts.theme && Highcharts.theme.contrastTextColor) || 'black'
                            }
                        }
                    }
                },
                series: [{
                    type: 'pie',
                    name: '统计个数',
                    data: [
                        {
                            name:'北京',
                            y:{{ areascount[0] }},
                            sliced: true,
                            selected: true
                        },
                        ['上海', {{ areascount[1] }}],
                        ['深圳', {{ areascount[2] }}],
                        ['广州', {{ areascount[3] }}],
                        ['杭州', {{ areascount[4] }}],
                        ['东莞', {{ areascount[5] }}],
                        ['惠州', {{ areascount[6] }}],
                        ['佛山', {{ areascount[7] }}],
                        ['珠海', {{ areascount[8] }}]
                    ]
                }]
            };
            var chart2 = Highcharts.chart('container2',options2);

            var options3 = {
                chart: {
                    type: 'spline'
                },
                title: {
                    text: '各地房价波动情况'
                },
                subtitle: {
                    text: '数据来源: http://www.fang.com/'
                },
                xAxis: {
                    categories: {{ stattimeall|tojson }}
                },
                yAxis: {
                    title: {
                        text: '均价 (元/平米)'
                    }
                },
                plotOptions: {
                    line: {
                        dataLabels: {
                            enabled: false          // 开启数据标签
                        },
                        enableMouseTracking: true // 关闭鼠标跟踪，对应的提示框、点击事件会失效
                    }
                },
                tooltip: {
                    headerFormat: '<b>{series.name}</b><br>',
                    pointFormat: '均价: {point.y:.2f} 元/平米'
                },
                series: [{
                    name: '北京',
                    data: {{ bjaveall }}
                }, {
                    name: '上海',
                    data: {{ shaveall }}
                }, {
                    name: '深圳',
                    data: {{ szaveall }}
                }, {
                    name: '广州',
                    data: {{ gzaveall }}
                }, {
                    name: '杭州',
                    data: {{ hzaveall }}
                }, {
                    name: '东莞',
                    data: {{ dgaveall }}
                }, {
                    name: '惠州',
                    data: {{ huizaveall }}
                }, {
                    name: '佛山',
                    data: {{ fsaveall }}
                }, {
                    name: '珠海',
                    data: {{ zhaveall }}
                }]
            };
            var chart3 = Highcharts.chart('container3',options3);
        </script>
    </div>
{% endblock %}
