{% extends "base.html" %}

{% block title %}DataShow{% endblock %}

{% block content %}

    <div class="jumbotron">
        <div class="container">
            <h1>DataShow</h1>
            <p class="lead">DataShow是一个爬虫数据分享系统，针对不同领域数据的抓取，包括房产数据、电商数据、金融数据以及其他应用数据。并对其进行数据的处理分析呈现。</p>
        </div>
    </div>

    <div class="container">
        <div class="row">
            <div class="col-md-4">
                <h2>房地产数据</h2>
                <p>
                    数据来源于房天下、链家、安居客等房产网，以全国各大一二线城市新房楼盘数据为主。
                </p>
                <p><a class="btn btn-default" href="{{ url_for('fang.GetFangData') }}">查看 &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>电商数据</h2>
                <p>暂未开放</p>
                <p><a class="btn btn-default" href="">查看 &raquo;</a></p>
            </div>
            <div class="col-md-4">
                <h2>金融数据</h2>
                <p>暂未开放</p>
                <p><a class="btn btn-default" href="">查看 &raquo;</a></p>
            </div>
        </div>
    </div>
{% endblock %}
